<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pilske.Properties.Settings.pilskeConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=pilske;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pilske.Properties.Settings.drankensysteemConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=drankensysteem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>